<% include ./partials/header %> 

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">

</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/pic.png" alt="" />
                <h1 class="name">Nik Polovenko</h1>
                <h3 class="tagline">Web Developer</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a class="gemail" href="mailto: polovenko.nikita@gmail.com">polovenko.nikita@gmail.com</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:6124580021">6124580021</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="http://www.nikjs.com" target="_blank">nikjs.com</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="http://www.linkedin.com/in/nik-polovenko" target="_blank">nik-polovenko</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/NiksCode" target="_blank">github.com/NiksCode</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Bachelors in Sociology</h4>
                    <h5 class=" univ meta">University for the Humanities</h5>
                    <div class="time">2010 - 2014</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">Fluent</span></li>
                    <li>Serbo-Croatian <span class="lang-desc">Fluent</span></li>
                    <li>Russian <span class="lang-desc">Fluent</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Travelling</li>
                    <li>Snowboarding</li>
                    <li>Swimming</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile </h2>
                <div class="summary">
                    <p>I'm a Java & WebDeveloper with 1+ year of experience. <i>I<i> started working on my first website while still in university. I made a website describing my trip in Europe in HTML and CSS and successfully deployed it on GoDaddy hosting. A year after I added a smart log-in form using PHP.</p>
<p>  In 2015-2016  for more than 6 months Java became my primary programming language. I made many cool console-based applications and then moved on to Java GUI, mostly using Java FX. As of right now, Java still remains one of my favorite coding languages.
 Finally, I decided to utilize the knowledge that I gained by making modern websites. This website that you are looking at right now is my first big project. To make this website I used JavaScript, Node JS with express, Mongo Database, and Bootstrap for the front end design. I'm still exploring limitless possibilities of the javascript frameworks and I plan to add even more cool features to this site in a future.</p>

                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Geek Squad Consultation Agent</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">BestBuy, Saint Paul</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p> •Engage with costumers to help them solve technological issues in person and over the phone</p>
                        <p>•Perform troubleshooting and diagnosing of clients devices</p>
                        <p>•Attempt to fix the issue with the client when possible or explain various resolution options</p>  
                         <p>•Actively engage in selling IT services and demonstrate clients the results of the completed work</p>
                        <p>•Perform other duties as assigned</p>
</p>

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Front Desk</h3>
                            <div class="time">2016 June-December</div>
                        </div><!--//upper-row-->
                        <div class="company">Andros ENT, Inver Grove Heights</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>•	Greet, and check-in patients</p>
                         <p>  •	Provide patients with exceptional customer service both in person and on the phone</p>
                        <p>•	Schedule follow-up appointments </p>
                        <p>•	Process payments and insurance documentation</p>
                        <p>•	Manage legal and medical documentation </p>
                        <p>•	Transfer legal and medical documentation into the database</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Pool Lifeguard/Tech</h3>
                            <div class="time">Summer 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Sunset Pools, Virginia</div>
                    </div><!--//meta-->
                    <div class="details">
                     <p>   •	Successfully completed Lifeguard, CPR and AED trainings</p>
                     <p>   •	Ensure safety of the pool visitors and provide assistance as needed</p>
                        <p>•	Enforce facility policies, rules and regulations</p>
                    <p>•	Inspect the pool and its areas and report unsafe conditions</p>
                    <p>•	Manage pool chemical level and test the water on hourly basis</p>
                        <p>•	Perform daily opening and closing duties</p>

                    </div><!--//details-->
                </div><!--//item-->
                
                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">VIP and Buisness lounge Customer Service Manager</h3>
                            <div class="time">2013 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Senator Company, Moscow</div>
                    </div><!--//meta-->
                    <div class="details">
<p>•	Provide bi-lingual services between the company and their international clientele</p>
<p>•	Work with business lounges and VIP lounges in various airports </p>
<p>•	Order intake via telephone, e-mail and companies website</p>
<p>•	Follow-up with suppliers on airport services, including quality assurance</p>
<p>•	Manage company employees, including scheduling and assigning tasks</p>
<p>•	Create/maintain a database used to organize and monitor reports</p>

                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here, I will keep on describing my new projects here as i create them:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="/">"My Blog"</a></span> - <span class="project-tagline">A responsive Node website with the use of "express" framework. Some simple user log in-log out features implemented. All blogs and user data are stored in Mongo DB.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/NiksCode/java-app/tree/master/HotelBooking%20Final" target="_blank">Java GUI Booking App</a></span> - 
                    <span class="project-tagline">A simple Java GUI app that allows a hotel front desk personnel keep track of the avaliable rooms, and check-in new guests. Guest balance feature added.</span>
                </div><!--//item-->
                
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">HTML &amp; CSS &amp; Bootstrap</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Mongo &amp; MySQL </h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Git</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">PHP</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
       
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="assets/js/main.js"></script>            
<% include ./partials/footer %> 